{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        instaparse/instaparse {:mvn/version "1.4.12"}
        overtone/osc-clj  {:mvn/version "0.9.0"}
        io.github.diegovdc/time-tiem {:git/tag "v0.0.1" :git/sha "c41f36128461b8c02b3656a6b543ac67ad403c59"}
        potemkin/potemkin {:mvn/version "0.4.6"}
        clj-kondo/clj-kondo {:mvn/version "2023.05.18"}}
 :paths ["src" "test"]
 :test-paths ["test"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
